@using DungeonResource.Web.Models
@model DungeonResource.Components.Domain.Spell.Spell

@{
    ViewBag.Title = "Create";
}

<script>

    var myApp = angular.module('myApp', []);

    myApp.controller('CreateSpellController', ['$scope', function ($scope) {

        $scope.spell = {};

        $scope.addSpellLevel = function () {

            if ($scope.spell.SpellLevels === undefined) {
                $scope.spell.SpellLevels = [];
            }

            var spellLevel = {
                SpellClass: $scope.spellClass,
                Level: $scope.spellLevel
            };

            $scope.spell.SpellLevels.push(spellLevel);

            $scope.spellClass = undefined;
            $scope.spellLevel = undefined;

        };

        $scope.remove = function (array, index) {
            array.splice(index, 1);
        };
    }]);

</script>



<div class="form-signin" ng-app="myApp" ng-controller="CreateSpellController">

    <h2>Create Spell</h2>

    <br />

    <form role="form">

        @*Spell Name*@
        <div class="form-group">
            <label for="spellName">Spell Name</label>
            <input type="text" class="form-control" id="spellName" placeholder="Enter spell name" ng-model="spell.Name" required>
        </div>

        @*Target*@
        <div class="form-group">
            <label for="spellTarget">Target</label>
            <input type="text" class="form-control" id="spellTarget" placeholder="Enter spell target" ng-model="spell.Target" required>
        </div>

        @*Casting Time*@
        <div class="form-group">
            <label for="spellCastingTime">Casting Time</label>
            <input type="text" class="form-control" id="spellCastingTime" placeholder="Enter casting time" ng-model="spell.CastingTime" required>
        </div>

        @*Duration*@
        <div class="form-group">
            <label for="spellDuration">Duration</label>
            <input type="text" class="form-control" id="spellDuration" placeholder="Enter spell duration" ng-model="spell.Duration" required>
        </div>

        @*Range*@
        <div class="form-group">
            <div>
                <label for="spellRange">Spell Range</label>
            </div>
            <div class="btn-group" id="spellRange" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option0"> Self
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option1"> Touch
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2"> Close
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option3"> Medium
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option4"> Long
                </label>
            </div>
        </div>

        @*Attributes*@
        <div class="form-group">
            <div>
                <label for="spellImportant">Important</label>
            </div>
            <div class="btn-group" id="spellImportant" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input ng-model="spell.SpellResistance" type="checkbox"> Spell Resistance
                </label>
                <label class="btn btn-primary">
                    <input ng-model="spell.SavingThrow" type="checkbox"> Saving Throw
                </label>
            </div>
        </div>

        @*Components*@
        <div class="form-group">
            <div>
                <label for="spellComponents">Components</label>
            </div>
            <div class="btn-group" id="spellComponents" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input ng-model="spell.Verbal" type="checkbox"> Verbal
                </label>
                <label class="btn btn-primary">
                    <input ng-model="spell.Somatic" type="checkbox"> Somatic
                </label>
                <label class="btn btn-primary">
                    <input ng-model="spell.Material" type="checkbox"> Material
                </label>
                <label class="btn btn-primary">
                    <input ng-model="spell.Focus" type="checkbox"> Focus
                </label>
            </div>
        </div>

        @*Class Levels*@
        <div class="form-group">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Class Name</th>
                        <th>Level</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="spellLevel in spell.SpellLevels">
                        <td>{{spellLevel.SpellClass}}</td>
                        <td>{{spellLevel.Level}}</td>
                        <td><a href="" class="btn btn-primary" ng-click="remove(spell.SpellLevels, $index)">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" id="className" placeholder="Class Name" ng-model="spellClass" />
                </div>
                <div class="form-group">
                    <input type="number" id="spellLevel" placeholder="Class Level" ng-model="spellLevel" />
                </div>
                <div class="form-group">
                    <a href="" class="btn btn-primary" ng-click="addSpellLevel()">Add</a>
                </div>
            </div>
        </div>

        @*Description*@
        <div class="form-group">
            <textarea class="form-control" rows="3" ng-model="spell.Description"></textarea>
        </div>

        @*Submit*@
        <div class="form-group">
            <input type="button" value="Add" class="btn btn-primary" data-bind="click: addSpell" />
        </div>

    </form>


    <div class="form-horizontal">

        <div id="myModal" class="modal hide fade">
            <div class="modal-body">
                <h2>Loading...</h2>
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 100%;"></div>
                </div>
            </div>
        </div>

    </div>

</div>
