@using DungeonResource.Web.Models
@model DungeonResource.Components.Domain.Spell.Spell

@{
    ViewBag.Title = "Create";
}

<div class="form-signin" ng-app="myApp" ng-controller="CreateSpellController">

    <h2>Create Spell</h2>

    <br />

    <form role="form" name="form">

        @*Spell Name*@
        <div class="form-group" ng-class="{'has-error': (form.spellName.$dirty && form.spellName.$invalid)}">
            <div>
                <label for="spellName">Spell Name</label>
                <span ng-show="form.spellName.$dirty && form.spellName.$invalid" class="label label-danger">Please Enter a Spell Name</span>
            </div>
            <input type="text"
                   class="form-control"
                   name="spellName"
                   id="spellName"
                   placeholder="Enter spell name"
                   ng-model="spell.Name"
                   required>
        </div>

        @*Target*@
        <div class="form-group" ng-class="{'has-error': (form.spellTarget.$dirty && form.spellTarget.$invalid)}">
            <div>
                <label for="spellTarget">Target</label>
                <span ng-show="form.spellTarget.$dirty && form.spellTarget.$invalid" class="label label-danger">Please Enter a Target</span>
            </div>
            <input type="text"
                   class="form-control"
                   name="spellTarget"
                   id="spellTarget"
                   placeholder="Enter spell target"
                   ng-model="spell.Targets"
                   required>
        </div>

        @*Casting Time*@
        <div class="form-group" ng-class="{'has-error': (form.spellCastingTime.$dirty && form.spellCastingTime.$invalid)}">
            <div>
                <label for="spellCastingTime">Casting Time</label>
                <span ng-show="form.spellCastingTime.$dirty && form.spellCastingTime.$invalid" class="label label-danger">Please Enter a Casting Time</span>
            </div>
            <input type="text" class="form-control" name="spellCastingTime" id="spellCastingTime" placeholder="Enter casting time" ng-model="spell.CastingTime" required>
        </div>

        @*Duration*@
        <div class="form-group" ng-class="{'has-error': (form.spellDuration.$dirty && form.spellDuration.$invalid)}">
            <div>
                <label for="spellDuration">Duration</label>
                <span ng-show="form.spellDuration.$dirty && form.spellDuration.$invalid" class="label label-danger">Please Enter a Spell Duration</span>
            </div>
            <input type="text" class="form-control" name="spellDuration" id="spellDuration" placeholder="Enter spell duration" ng-model="spell.Duration" required>
        </div>

        @*Range*@
        <div class="form-group">
            <div>
                <label>Spell Range</label>
            </div>
            <div class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" name="spellRange" data-ng-model="spell.Range" value="0"> Self
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="spellRange" data-ng-model="spell.Range" value="1"> Touch
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="spellRange" data-ng-model="spell.Range" value="2"> Close
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="spellRange" data-ng-model="spell.Range" value="3"> Medium
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="spellRange" data-ng-model="spell.Range" value="4"> Long
                </label>
            </div>
        </div>

        @*Attributes*@
        <div class="form-group">
            <div>
                <label for="spellImportant">Important</label>
            </div>
            <div class="btn-group" id="spellImportant">
                <label class="btn btn-default">
                    <input ng-model="spell.SpellResistance" type="checkbox"> Spell Resistance
                </label>
                <label class="btn btn-default">
                    <input ng-model="spell.SavingThrow" type="checkbox"> Saving Throw
                </label>
            </div>
        </div>

        @*Components*@
        <div class="form-group">
            <div>
                <label for="spellComponents">Components</label>
            </div>
            <div class="btn-group" id="spellComponents">
                <label class="btn btn-default">
                    <input ng-model="spell.Verbal" type="checkbox"> Verbal
                </label>
                <label class="btn btn-default">
                    <input ng-model="spell.Somatic" type="checkbox"> Somatic
                </label>
                <label class="btn btn-default">
                    <input ng-model="spell.Material" type="checkbox"> Material
                </label>
                <label class="btn btn-default">
                    <input ng-model="spell.Focus" type="checkbox"> Focus
                </label>
            </div>
        </div>

        @*Class Levels*@
        <div class="form-group">
            <div>
                <label for="spellClassLevels">Classes</label>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Class Name</th>
                        <th>Level</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="spellLevel in spell.SpellLevels">
                        <td>{{spellLevel.SpellClass}}</td>
                        <td>{{spellLevel.Level}}</td>
                        <td><a href="" class="btn btn-default" ng-click="remove(spell.SpellLevels, $index)">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="text" id="className" placeholder="Class Name" ng-model="spellClass" />
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" id="spellLevel" placeholder="Class Level" ng-model="spellLevel" />
                </div>
                <a href="" class="btn btn-default" ng-click="addSpellLevel()">Add</a>
            </div>
        </div>

        @*Description*@
        <div class="form-group" ng-class="{'has-error': (form.spellDescription.$dirty && form.spellDescription.$invalid)}">
            <div>
                <label for="spellDescription">Description</label>
                <span ng-show="form.spellDescription.$dirty && form.spellDescription.$invalid" class="label label-danger">Please Enter a Description</span>
            </div>
            <textarea name="spellDescription" id="spellDescription" class="form-control" rows="3" ng-model="spell.Description" required></textarea>
        </div>

        @*Submit*@
        <div class="form-group">
            <input type="button"
                   value="Add"
                   class="btn btn-default"
                   data-toggle="modal"
                   data-target="#myModal"
                   ng-disabled="!form.$valid"
                   ng-click="addSpell()" />
            <span class="label label-danger" ng-show="!form.$valid">Watch Out! You're Missing Some Spell Data!</span>
        </div>

    </form>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>Loading...</h2>
                    <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
