<table>
    <tr>
        <td>Name</td>
        <td><input type="text" data-bind="value: Name" /></td>
    </tr>
    <tr>
        <td>Description</td>
        <td><input type="text" data-bind="value: Description" /></td>
    </tr>
</table>
<br />
<input type="button" value="Add" data-bind="click: addSpell" />