<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: spells">
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: Name"></td>
            <td data-bind="text: Description"></td>
        </tr>
    </tbody>
</table>
<br />
<input type="button" id="btnGetSpells" value="Get Spells" data-bind="click: getSpells" />