@model IEnumerable<DndDev.Repository.Spell>

@{
    ViewBag.Title = "SpellBook";
}

<h2>@ViewBag.Title</h2>

<h2>Manage All Your Spells With Ease</h2>
		
<p>With SpellBook You Can Easily Research All the Spells Available
to You for Dungeons and Dragons. Search for technical details for that hard to 
find spell and make it out of the Dungeon Alive</p>

<br/>

<div data-role="collapsible-set" data-theme="b" data-content-theme="d">

    @foreach (var someClass in @Model.SelectMany(p => p.SpellLevels).Select(p => p.Class).Distinct())
    {
        
        <div data-role="collapsible">

            <h2>@someClass</h2>

            <ul data-role="listview" data-theme="d" data-divider-theme="d">
                @foreach (var item in Model.Where(p => p.SpellLevels.Exists(r => r.Class == someClass)))
                {
        
                    <li>@Html.ActionLink(item.Name, "Details", new { Id = item.Id } )</li>

                }
            </ul>

        </div>
         
    }

</div>
